.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  .header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    padding-left: 64px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    position: relative;
  }
  
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
  .header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 0;
  }
  
  /* и элемента с модификатором вида ключ-значение */
  .table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
  }

  .logo {
    position: absolute;
  }

  .logo_place_header {
    top: 30px;
    width: 228px;
    height: 32px;
    z-index: 5;
  }

  .header__title {
    width: 730px;
    font-size: 102px;
    line-height: 96px;
    font-weight: 600;
    z-index: 5;
  }

  .header__subtitle {
    position: absolute;
    width: 388px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    z-index: 5;
  }

  .header__main-illustration {
    position: absolute;
    right: 0;
    width: 765px;
    height: 608px;
    bottom: 0;
    z-index: 1;
  }

  .header__link {
    color: #2f80ed;
    text-decoration: none;
  }

.description {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

  .two-columns__brief {
    width: 175px;
    color: #2f80ed;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
  }

  .two-columns__main-text {
    width: 80%;
    min-width: 784px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .two-columns__paragraph {
    margin: 0;
    line-height: 34px;
    font-size: 24px;
  }

  .two-columns__span-accent {
    font-weight: 600;
    line-height: 34px;
    font-size: 24px;
  }
